<%= form_for(@post, url: user_posts_path(current_user)) do |f| %>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text, size: "30x3" %>
    <img src="<%= @post.image_url %>" alt= "<%= @post.id %>" >
    <%= f.label "Image" %>
    <%= f.text_field :image_url %>
    <%= f.submit class: "button" %>
  </p>
<% end %>
