<h2>
  <%= @post.content %>
</h2>
<img src="<%= @post.image_url %>" alt="<%= @post.id %>" />
<%= render partial: 'comments/form' %>
<h3>
  Comments
</h3>
<%= render partial: 'tweeds/comment', collection: @post.comments %>
<%= link_to "Edit", edit_post_path(@post), class: "button" %>
<%= link_to "Delete", post_path(@post), class: "button danger" %>
<%= link_to "Return to Posts", posts_path, class: "button" %>
