<%= form_for current_user do |f| %>
  Alias: <%= f.text_field :alias %>
  Email: <%= f.text_field :email %>
  <%= f.submit "Submit Change" %>
<% end %>
<h4>
<%= link_to "Return to User Profile", "/users/#{current_user.id}" %>
</h4>
