<h1>User Profile</h1>

<%= @user.alias %>
<%= @user.email %>

<h2>
  Create A Post
</h2>
<%#= binding.pry %>
<%= link_to "Create Post", new_user_post_path(current_user) %>

<p>
  Current User List Below
</p>
  <ul>
    <% @users.each do |user| %>
    <li>
      <%= link_to "ID: #{user.id}", "/users/#{user.id}" %>
      <%= link_to "Edit Profile", "/users/#{user.id}/edit" %>
      Alias: <%= user.alias %>
      Email: <%= user.email %>
    </li>
    <% end %>
  </ul>

<%= link_to "Return to Home Page", "/" %>
