<h1>User Profile</h1>

<%= current_user.alias %>
<%= current_user.email %>

<h2>
  Create A Post
</h2>
<%= link_to "Create Post", new_user_post_path(current_user) %>

<p>
  User Details Below
</p>
  <ul>
    <li>
      <%= link_to "ID: #{current_user.id}", "/users/#{current_user.id}" %>
      <%= link_to "Edit Profile", "/users/#{current_user.id}/edit" %>
      Alias: <%= current_user.alias %>
      Email: <%= current_user.email %>
    </li>
  </ul>

<%= link_to "See List of Users", "/users" %>
